//CORE SASS

//IMPORTED PARTIALS
@import 'components/reset';
@import 'components/fontFaces';
@import 'components/navbar';
//MASTER CONTROLS
body{
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  font-family: 'Avenir Next', sans-serif;
  background-color: #FFF;
  font-weight: 300;
}
