$navBarHeight: 66px;
$navBarBorderStyle: 1px solid #e5e5e5;

hr{
  width: 100%;
  border-top: 1px solid #e3e3e3;
  border-bottom: none;
}

%listSpace{
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 0;
      text-transform: uppercase;
      font-size: .88em;
      color: #595959;
      padding-bottom: 1px;
      cursor: pointer;
      letter-spacing: .1em;
      position: relative;
      &:hover{
        color: #1BA3DE;
        fill: #1BA3DE;
      }
    }
  }
}

#navBar{
  height: $navBarHeight;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
  border-bottom: $navBarBorderStyle;
  @extend %listSpace;

    #navBarLeft{
      height: 100%;
      width: 565px;
      display: flex;
      justify-content: space-between;

      ul{
        li{
          margin: 0 15px;
           ul{
             li{
               width: 100%;
               margin: 10px 10px;
               text-transform: capitalize;
               font-size: 1em;
               letter-spacing: -0.025;
               padding-left: 50px;
             }
           }
        }
      }
      #navBarLogo{
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
      }

      li:first-child{
        &:hover{
          .navBarDD{
            display: block;
          }
        }
      }
    }


    #navBarRight{
      height: 100%;
      width: auto;
      display: flex;

      li{
        margin: 0 15px;
      }

      li:first-child{
        color: #1BA3DE;


      }

      li:last-child{
        margin: 0px 0px 0px 5px;
      }

      li:nth-child(2){
        margin-right: 0px;
      }
    }
}

#hero{
  width: 100vw;
  height: 550px;
  background-color: green;
}

.navBarDD{
  width: auto;
  height: auto;
  background-color: white;
  display: none;
  position: absolute;
  padding: 15px 0px;
  top: $navBarHeight - 1px;
  left: 0px;
  border-bottom: $navBarBorderStyle;
  border-left: $navBarBorderStyle;
  border-right: $navBarBorderStyle;

  &:hover{
    cursor: default;
  }

  ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    li{
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
}
